/* Estilos generales */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Roboto', system-ui;
}

figure {
    margin: 0;
}

.header {
    background: #34495e;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
}

.menu-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    font-family: 'Roboto', system-ui;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 2.5em;
}

.menu-container li {
    display: flex;
    align-items: center;
    padding: 0 1em;
    text-align: center;
}

li:hover {
    height: inherit;
    background: #2c3e50;
}


a {
    text-decoration: none;
    color: white;
}

h1, h3 {
    font-weight: 500;
}



.header,
.hero,
.jobs-list,
.courses-list,
.contact {
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1000px;
    width: 100vw;
    padding: 0 1em;
}




.hero {
    background: #2c3e50;
    display: flex;
    flex-wrap: wrap;
}

.hero .container {
    height: 100vh;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "img name"
                         "img description";
    justify-items: center;
    align-items: center;
    background: inherit;
    color: white;
    grid-auto-flow: row;
}

.hero-image{
    grid-area: img;
    box-sizing: border-box;
}

.hero-image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.name {
    grid-area: name;
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 48px;
    padding: 0 100px 10px 100px;
    border-bottom: 2px solid #2ecc71;
}

.self-description {
    display: flex;
    align-items: center;
    grid-area: description;
    margin: 0;
    text-align: center;
    font-size: 1.2em;
}

.abstract {
    min-width: 100%;
    margin: auto auto;
    grid-column: span 2;
    text-align: center;
}




.jobs-list {
    background-color: #ecf0f1;
}

.jobs-list-title {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin: 20px;
}

.job {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(auto-fit,(3,1fr));
    grid-template-areas: "logo company position start"
                         "logo company position end"
                         "description description description description";
    justify-items: center;
    align-items: center;
    background: inherit;
    background: white;
    padding-top: 15px;
    border-radius: 10px;
    margin: 15px 0;
}

.job-logo {
    grid-area: logo;
    margin: 0;
}

.job-logo img {
    max-width: 90%;
}

.job-company {
    grid-area: company;
    margin: 0;
    font-size: 20px;
    text-align: center;
}

.job-position {
    grid-area: position;
    margin: 0;
    font-size: 18px;
    text-align: center;
}

.job-date.start {
    grid-area: start;
    margin: 0;
    font-size: 15px;
    text-align: center;
}

.job-date.end {
    grid-area: end;
    margin: 0;
    font-size: 15px;
    text-align: center;
}

.job-description {
    grid-area: description;
    text-align: center;
    padding: 0 90px;
    margin-top: 30px;
    font-size: 1em;
}



.courses-list {
    background: #ecf0f1;
    padding-bottom: 25px;
}

.courses-list .container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "title title title title";
    justify-items: center;
    align-items: center;
    grid-gap: 10px;
    justify-content: space-between;
    background: inherit;
}

.courses-list-title {
    grid-area: title;
    font-size: 25px;
    margin: 0;
    margin-bottom: 10px;
}

.course img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    transition: 300ms;
    will-change: transform;
    cursor: pointer;
    display: none;
}


.course img:hover {
    transform: scale(1.05);
}






.contact {
    background: #2980b9;
}

.contact .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    justify-items: center;
    color: white;
    font-family: 'Roboto';
    font-size: 18px;
}

.contact .container div img {
    height: 30px;
}

.phone,
.email,
.profiles {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profiles {
    justify-content: space-around;
    width: 100%;
}

.profiles a {
    display: inherit;
    align-items: center;
}

.profiles img {
    margin: 0 5px;
}

.contact .container div span {
    margin: 0 10px;
}




.modal {
    display: none;
}

.modal.active{
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 95vh;
    max-height: 100vh;
    background: white;
    border-radius: 10px;
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-flow: column;
}

.modal-img {
    max-width: 100%;
    margin-bottom: 10px;
}


.modal-btn {
    font-family: 'Roboto', system-ui;
    font-size: 1em;
    padding: 5px 10px;
    border-radius: 5px;
    background: #2980b9;
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
    user-select: none;
}

.modal-btn:hover{
    transform: scale(1.05)
}

@keyframes modalIn {
    0% {
        transform: translateY(-3000px);
    }
    60% {
        transform: translateY(25px);
    }
    75% {
        transform: translateY(-10px);
    }
    90% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes modalOut {
    0% {
        transform: translateY(5px);
    }
    60% {
        transform: translateY(-10px);
    }
    75% {
        transform: translateY(25px);
    }
    100% {
        transform: translateY(-3000px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



@media screen and (max-width: 1023px) {
    .job-company {
        font-size: 1.2em;
    }

    .job-position,
    .job-date.start,
    .job-date.end,
    .job-description {
        font-size: .9em;
    }

    .job-description {
        padding: 0.5em;
        margin: 0 auto;
    }

    .job-logo {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}










@media screen and (max-width: 767px) {
    
    ul {
        justify-content: space-evenly;
    }

    li {
        padding: 0 1em;
    }

    .hero .container {
        grid-auto-flow: column;
    }

    .self-description {
        font-size: 1.1em;
        padding: 0 1em;
    }

    .name {
        padding: 0;
        margin: 0 auto;
        border: 0;
    }

    .jobs-list .container {
        padding: 0 0 0.5em;
    }

    .jobs-list-title {
        margin: .5em auto;
    }

    .courses-list .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .courses-list-title {
        width: 100%;
        text-align: center;
        padding: .1em 0;
        font-size: 1.3em;
    }

    .course {
        justify-content: center;
        width: 31%;
        padding: 0 0 .5em;
    }


}










@media screen and (max-width: 420px) {

    .hero .container {
        grid-template-areas: "img"
                             "name"
                             "description";
        justify-content: space-between;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
    }

    .hero {
        padding: 0;
    }

    .hero-image {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em 0;
    }

    .hero-image img {
        width: 50%;
    }

    .name {
        padding: 0;
        font-size: 2em;
    }

    .self-description {
        padding: .5em 0;
        font-size: 1em;
        margin-bottom: 1em;
    }

    .courses-list .container {
        padding-left: 0;
        padding-right: 0;
    }

    .course {
        width: 48%;
    }

    .jobs-list{
        padding-bottom: 0;
    }

    .jobs-list .container{
        padding: 0;
    }

    .job {
        display: block;
        margin: 0;
    }

    .job-logo {
        margin: 1em auto;
        display: flex;
        justify-content: center;
    }

    .job-company {
        font-size: 1.3em;
    }

    .job-position,
    .job-date.start,
    .job-date.end,
    .job-description {
        font-size: 1em;
        margin: .5em auto;
    }

    .contact .container {
        display: flex;
        flex-wrap: wrap;
    }

    .phone, .email, .profiles {
        justify-content: center;
        margin: .4em auto;
    }
}










@media screen and (max-width: 320px) {

    li a {
        font-size: .8em;
    }

    .self-description {
        font-size: .8em;
    }

    job-company,
    .job-position,
    .job-date.start,
    .job-date.end,
    .job-description {
        font-size: .9em;
        margin: .5em auto;
    }

    .course {
        justify-content: center;
        width: 48%;
        padding: 0 0 .5em;
    }

    .contact .container {
        padding: 0;
        display: block;
    }

    .phone, .email, .profiles {
        margin: .4em auto;
    }


}