.contact {
    background: $belize-hole;
    
    & .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 10px;
        justify-items: center;
        color: $white;
        font-family: $font;
        font-size: $name-fs / 3;

        & span {
            margin: 0 10px;
        }
    }

    & img {
        height: 30px;
    }

    & .phone, .email, .profiles {
        @include flex-attr(center);
    }

    & .profiles {
        justify-content: space-around;
        width: 100%;

        & a {
            display: inherit;
            align-items: center;
        }

        & img {
            margin: 0 5px;
        }
    }

}