.courses-list {
    background: $clouds;

    & .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: "title title title title";
        justify-items: center;
        justify-content: space-between;
        align-items: center;
        grid-gap: 10px;
        background: inherit;
        padding-bottom: 30px;
    }

    &-title{
        grid-column: span 4;
        font-size: $name-fs / 2;
        margin-bottom: 5px;
        margin-top: 15px
    }
}

.course img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    transition: 300ms;
    will-change: transform;
    cursor: pointer;

    &:hover {
        transform: scale(1.05);
    }
}