@mixin flex-attr ($content) {
    display: flex;
    align-items: center;
    justify-content: $content;
}

@mixin btn ($bc, $font-c){
    font-family: $font;
    font-size: $name-fs / 3;
    padding: 5px 10px;
    border-radius: 5px;
    background: $bc;
    color: $font-c;
    border: none;
    cursor: pointer;
    outline: none;
    user-select: none;
    will-change: transform;
    margin: 0 auto;
}