// ---------- VARIABLES ---------- \\

// Base Colors
$midnight-blue: #2c3e50;
$wet-asphalt: #34495e;
$clouds: #ecf0f1;
$silver: #bdc3c7;
$emerald: #2ecc71;
$belize-hole: #2980b9;
$white: white;
$modal-bg: rgba(0, 0, 0, 0.3);

// Font attributes
$font: 'Roboto', system-ui;
$name-fs: 48px;

// Container
$container-w: 100%;
$container-max-w: 100vw;
$section-max-w: 1024px;
$menu-container-h: 40px;
$logo-w: 100%;
$border: 15px;

// Maps

$zi: (
    layer1: 0,
    layer2: 5,
    layer3: 10,
    layer4: 15,
    layer5: 20
);